<div id="<%= dom_id node %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= node.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Ip:</strong>
    <%= node.ip %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Network:</strong>
    <%= node.network_id %>
  </p>

</div>
